<div data-options="region:'west',split:true" title="菜单选项"
	style="width: 250px;">
	<div class="easyui-accordion" data-options="fit:true,border:false">
		<div title="学生管理" style="padding: 10px;">
			<ul class="easyui-tree" id="treeMenu">
				<li>学生信息管理</li>
			</ul>
		</div>
		<div title="教师管理" data-options="selected:true"
			style="padding: 10px;">content2</div>
		<div title="成绩管理" style="padding: 10px">content3</div>
		<div title="系统管理" style="padding: 10px">content3</div>
	</div>
</div>